[access]
	inheritFrom = All-Projects
[project]
	state = active
[access "refs/heads/*"]
	owner = group Administrators
	read = group Administrators
	abandon = group Administrators
	create = group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	push = group Administrators
	pushMerge = group Administrators
	pushTag = group Administrators
	pushSignedTag = group Administrators
	label-Code-Review = -2..+2 group Administrators
	rebase = group Administrators
	removeReviewer = group Administrators
	submit = group Administrators
	viewDrafts = group Administrators
	editTopicName = group Administrators
	deleteDrafts = group Administrators
	publishDrafts = group Administrators
